USE [IndustrialDB]
GO
/****** Object:  Table [dbo].[MachineData]    Script Date: 04-03-2026 01:18:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MachineID] [varchar](10) NULL,
	[Timestamp] [datetime] NULL,
	[Temperature] [float] NULL,
	[Vibration] [float] NULL,
	[Pressure] [float] NULL,
	[RuntimeHours] [float] NULL,
	[Downtime] [float] NULL,
	[Failure] [int] NULL,
	[Failure_Probability] [float] NULL,
	[Voltage] [float] NULL,
	[Current_A] [float] NULL,
	[Power_kW] [float] NULL,
	[Energy_kWh] [float] NULL,
	[PowerFactor] [float] NULL,
	[Frequency_Hz] [float] NULL,
	[LoadPercent] [float] NULL,
	[EfficiencyPercent] [float] NULL,
	[AmbientTemperature] [float] NULL,
	[Energy_Cost] [float] NULL,
	[MachineType] [varchar](50) NULL,
	[MaintenanceEventID] [int] NULL,
	[FaultType] [varchar](100) NULL,
	[AlarmCode] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MachineData_MachineID]    Script Date: 04-03-2026 01:18:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_MachineData_MachineID] ON [dbo].[MachineData]
(
	[MachineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MachineData_Timestamp]    Script Date: 04-03-2026 01:18:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_MachineData_Timestamp] ON [dbo].[MachineData]
(
	[Timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
