USE [IndustrialDB]
GO
/****** Object:  Table [dbo].[MaintenanceEvents]    Script Date: 04-03-2026 01:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceEvents](
	[MaintenanceEventID] [int] IDENTITY(1,1) NOT NULL,
	[MachineID] [varchar](10) NULL,
	[MachineType] [varchar](50) NULL,
	[EventTimestamp] [datetime] NULL,
	[FaultType] [varchar](100) NULL,
	[AlarmCode] [varchar](50) NULL,
	[SeverityLevel] [varchar](20) NULL,
	[ActionTaken] [varchar](200) NULL,
	[DowntimeHours] [float] NULL,
	[EstimatedCost] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaintenanceEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
